<div id="header">
	<mat-form-field>
		<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
	</mat-form-field>
	<button mat-raised-button color="primary" (click)="importProducts()" [disabled]="!isDataRecived">
		Importar
		<mat-icon>save_alt</mat-icon>
	</button>
	<!-- <button mat-raised-button color="primary" (click)="disableProducts()" [disabled]="!isDataRecived">
		Ocultar
		<mat-icon>report_off</mat-icon>
	</button> -->
</div>
<ng-container *ngIf="isDataRecived">
	<table mat-table [dataSource]="dataSource">
	
		<ng-container matColumnDef="cvaId">
			<th mat-header-cell *matHeaderCellDef> Grupo </th>
			<td mat-cell *matCellDef="let element"> {{element.cvaId}} </td>
		</ng-container>
		<ng-container matColumnDef="revenue">
			<th mat-header-cell *matHeaderCellDef> Ganancia </th>
			<td mat-cell *matCellDef="let element"> {{element.revenue}}% + 10% IVA </td>
		</ng-container>
	
		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/group/'+row.cvaId]"></tr>
	
	</table>
</ng-container>

