
@import '../../../styles.scss';

table {
    width: 100%;
    th {
        min-width: 100px;
    }
}
#header {
    width: 100%;
    background: #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    mat-form-field {
        padding: 0.85rem 1vw 0 1vw;
        min-width: 400px;
    }
    button {
        margin: 0 1vw;
    }

}