<div id="header">
	<div>
		<mat-form-field floatLabel="always">
			<mat-label>{{cvaId}}: {{qtyResults}} productos.</mat-label>
			<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
		</mat-form-field>
		<button mat-raised-button color="primary" (click)="importProducts()" [disabled]="qtyResults == 0">
			Importar grupo
			<mat-icon>save_alt</mat-icon>
		</button>
	</div>
	<button mat-mini-fab color="primary" routerLink="/groups">
		<mat-icon>navigate_before</mat-icon>
	</button>
</div>

<table mat-table [dataSource]="dataSource">

	<ng-container matColumnDef="clave">
		<th mat-header-cell *matHeaderCellDef> ID </th>
		<td mat-cell *matCellDef="let element"> {{element.clave}} </td>
	</ng-container>
	<ng-container matColumnDef="descripcion">
		<th mat-header-cell *matHeaderCellDef> Producto </th>
		<td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
	</ng-container>
	<ng-container matColumnDef="disponible">
		<th mat-header-cell *matHeaderCellDef> Existencia </th>
		<td mat-cell *matCellDef="let element"> {{element.disponible}} </td>
	</ng-container>
	<ng-container matColumnDef="costo">
		<th mat-header-cell *matHeaderCellDef> Costo </th>
		<td mat-cell *matCellDef="let element"> {{element.costo}} </td>
	</ng-container>
	<ng-container matColumnDef="precio">
		<th mat-header-cell *matHeaderCellDef> Precio </th>
		<td mat-cell *matCellDef="let element"> {{element.precio}} </td>
	</ng-container>
	<ng-container matColumnDef="marca">
		<th mat-header-cell *matHeaderCellDef> Marca </th>
		<td mat-cell *matCellDef="let element"> {{element.marca}} </td>
	</ng-container>

	<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
	<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
